<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_FILE"
              value="${user.home}/.local/state/nvim/mapstruct-source-server.log"/>
    <property name="LOG_LEVEL"
              value="${mapstruct.log.level:-INFO}"/>

    <appender name="FILE"
              class="ch.qos.logback.core.FileAppender">
        <file>${LOG_FILE}</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg %mdc%n</pattern>
        </encoder>
    </appender>

    <logger name="com.dsm.mapstruct"
            level="${LOG_LEVEL}"/>

    <root level="WARN">
        <appender-ref ref="FILE"/>
        <!-- <appender-ref ref="STDOUT"/> -->
    </root>
</configuration>

